@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    width: 100%;
    max-width: 1600px;
    top: 78px;
    background: #FFFFFF;
}

*{
 box-sizing: border-box;
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1500px;
}
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header, .footer {
   
    width: 100vw;
    min-width: 1600px;
    background-color: black;
    height: 78px;
    text-align: center; 
}

.logo_ellipse_white {
    margin-top: 12px;
    vertical-align: middle;
    display: inline-block;
}

.shedule, .phone, .address, .contacts, .author {
    font-family: Noto Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;
    color: #FFFFFF;
    display: inline-block;
    vertical-align: middle;
}

.shedule {
    width: 400px;
}

.contacts {
    width: 749px;
}

.icon_menu {
    width: 44px;
    height: 41px;
    display: inline-block;
    vertical-align: middle;
    background-image: url(images/icon_menu.png);
}

.address {
    width: 442px;
}

.phone {
    width: 307px;
}

.phone a {
    color: white;
    text-decoration: none;
}

.phone a:hover {
    color: #45D6DF;
}

.address a:hover {
    color: #45D6DF;
}

.address a {
    color: white;
    text-decoration: none;
}

.author {
    width: 510px;
}

.hat {
    background-image: url(images/background_hat.png);
    width: 1600px;
    height: 908px;
}

.logo_ig {
    position: absolute;
    margin-left: 58px;
    top: 395px;
    background-image: url(images/logo_ig.png);
}

.logo_fb {
    position: absolute;
    margin-left: 58px;
    top: 480px;
    background-image: url(images/logo_fb.png);
}

.logo_mail {
    position: absolute;
    margin-left: 58px;
    top: 560px;
    background-image: url(images/logo_mail.png);
}

.hat .logo_ig {
    height: 42px;
}

.hat .logo_fb {
    height: 42px;
}

.logo_time {
    position: absolute;
    margin-top: 228px;
    margin-left: 439px;
}

.list {
    position: absolute;
    padding-left: 109px;
    top: 909px;
}

.btn {
    display: inline-block;
    background: #45D6DF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 35px;
    font-size: 36px;
    line-height: 1.36;
    color: #000000;
    text-decoration: none;
    min-width: 380px;
    max-width: 100%;
    text-align: center;
    padding: 10px 10px 10px 10px;
    opacity: 1;
    transition: opacity .2s ease-in-out;

    position: relative;
    left: 609px;
    top: 654px;
}

.btn:hover {
    opacity: .7;
}

.line1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

