@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

body {
    font-family: Open Sans;
    font-weight: 400; 
}

main {
    width: 100%;
    background: #FFFFFF;
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1600px;
}

.header .container, .footer .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 50px 0 50px;
}

@media (max-width: 1199px) {
    .header .container, .footer .container {
        padding: 0;
    }
}

.header, .footer {
    background-color: black;
}

.logo_ellipse_white {
    padding: 12px;
}

.shedule, .phone, .address, .contacts, .author {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;
    color: #FFFFFF;
    display: inline-block;
    vertical-align: middle;
}

@media (max-width: 1199px) {
    .phone {
        font-size: 16px;
    }

    .shedule, .address, .author {
        font-size: 12px;
    }
}

@media (max-width: 767px) {
    .phone {
        font-size: 16px;
    }

    .shedule, .address, .author {
        display: none;
    }
}

.icon_menu {
    width: 44px;
    height: 41px;
    display: inline-block;
    vertical-align: middle;
}

.phone a, .address a {
    color: white;
    text-decoration: none;
}

.phone a:hover, .address a:hover {
    color: #45D6DF;
}

.hat {
    background-image: url(images/background_hat.png);
    height: 908px;
    /* background-size: cover;
    height: calc(100vh - 80px); */
    position: relative;
}

.soc-wrap {
    position: absolute;
    top: 50%;
    left: 58px;
    transform: translateY(-50%);
}

@media (max-width: 767px) {
    .soc-wrap {
        position: absolute;
        left: 50%;
        top: auto;
        bottom: 20px;
        transform: translateX(-50%);
    }
}

.soc-wrap a {
    display: block;
    width: 45px;
    height: 41px;
}

@media (max-width: 767px) {
    .soc-wrap a {
        display: inline-block;
    }
}

.soc-wrap a + a {
    margin-top: 45px;
}

@media (max-width: 767px) {
    .soc-wrap a + a {
        margin-left: 20px;
        margin-top: 0px;
    }
}

.logo_ig {
    background-image: url(images/logo_ig.png);
}

.logo_fb {
    background-image: url(images/logo_fb.png);
}

.logo_mail {
    background-image: url(images/logo_mail.png);
}

.hat .logo_ig {
    height: 42px;
}

.hat .logo_fb {
    height: 42px;
}

.logo_time {
    padding-top: 228px;
    text-align: center;
}

@media (max-width: 1199px) {
    .logo_time {
        padding-top: 150px;
        padding-left: 125px;
        padding-right: 125px;
    }
}

@media (max-width: 767px) {
    .logo_time {
        padding-top: 100px;
        padding-left: 25px;
        padding-right: 25px;
    }
}

.btn-holder {
    text-align: center;
}

.hat-btn {
    padding-top: 125px;
    /* 75 */
}

.list {
    width: 100%;
    position: absolute;
    bottom: 0px;
}

@media (max-width: 767px) {
    .list {
        display: none;
    }
}

@media (max-width: 1199px) {
    .list li {
        font-size: 20px;
    }
}

.list ul {

    display: flex;
    justify-content: space-around;
}

.banner-btn, .line-btn {
    display: inline-block;
    background: #45D6DF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 35px;
    color: #000000;
    text-decoration: none;
    max-width: 100%;
    text-align: center;
    padding: 10px 10px 10px 10px;
    opacity: 1;
    transition: opacity .2s ease-in-out;
}

.banner-btn {
    min-width: 380px;
    font-size: 36px;
    line-height: 1.36;
}

@media (max-width: 767px) {
    .banner-btn {
        min-width: 280px;
        font-size: 24px;
    }
}

.banner-btn:hover {
    opacity: .7;
}

.line-btn {
    min-width: 254px;
    font-size: 28px;
    line-height: 1.36;
}

@media (max-width: 767px) {
    .line-btn {
        min-width: 140px;
        font-size: 16px;
    } 
}

.line-btn:hover {
    opacity: .7;
}

.line {
    display: flex;
    align-items: stretch;
    justify-content: center;
}

@media (max-width: 420px) {
    .line {
        display: block;
    }
}

.block {
    width: 50%;
    border: none;
}

@media (max-width: 420px) {
    .block {
        width: 100%;
    }
    .block_img {
        display: none;
    }
}

.left {
    text-align: right;
}

.section {
    text-align: center;
    position: relative;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 1.36;
    color: #000000;
    padding-inline-start: 64px;
}

@media (max-width: 1199px) {
    .section {
        font-size: 30px;
    }
}

@media (max-width: 767px) {
    .section {
        font-size: 18px;
    }
}

.section::before {
    content: '';
    position: absolute;
    left: 0;
    height: 61px;
    width: 64px;
    background: url(images/logo_ellipse_black.png);
    background-size: cover;
}

.section::after {
    content: '';
    position: absolute;
    height: 41px;
    width: 471px;
    background: url(images/logo_line.png);
    display: block;
    background-size: contain;
    margin-left: 64px;
}

p, ul {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 1.36;
    color: #000000;
}

@media (max-width: 1199px) {
    p, ul {
        font-size: 16px;
    }
}

@media (max-width: 767px) {
    p, ul {
        font-size: 12px;
    }
}

.colortext {
    color: #45D6DF;
}

.slogan {
    text-align: center;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 1.36px;
}

.slogan_b {
    font-weight: 600;
}

.li_address {
    list-style-image: url(images/logo_map_small.png);
}

.li_phone {
    list-style-image: url(images/logo_phone_small.png);
}

.li_mail {
    list-style-image: url(images/logo_mail_small.png);
}

.li_ig {
    list-style-image: url(images/logo_ig_small.png);
}

.li_fb {
    list-style-image: url(images/logo_fb_small.png);
}

ul a {
    color: black;
    text-decoration: none;
}

ul a:hover {
    color: #45D6DF;
}

.conclusion {
    text-align: center;
}

.b_text {
    padding: 50px;
}

@media (max-width: 1199px) {
    .b_text {
        padding: 30px;
    }
}

@media (max-width: 767px) {
    .b_text {
        padding: 10px;
    }
}

.b_text_address {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.block_img {
    max-width: 100%;
    object-fit: cover;
    height: 100%;
}